<div id="forgot-password-container">
  <mat-card>
    <form [formGroup]="forgotPasswordForm">
      <mat-card-content>
        <div class="text-info">
          <span class="title">Esqueceu a senha?</span>
          <span class="description">Não se preocupe, insira o seu e-mail abaixo e vamos resolver isso!</span>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="validationFieldService.hasError(forgotPasswordForm.get('email'), 'required')">Campo obrigatório</mat-error>
          <mat-error *ngIf="validationFieldService.hasError(forgotPasswordForm.get('email'), 'email')">Email inválido</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" mat-raised-button>Enviar e-mail</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div> 


