@import "../../../../../assets/styles/mat-form-field-style.scss";

#forgot-password-container {
  height: calc(100vh - 22rem);
  width: 100%;

  .mat-card {
    padding: 5rem 3rem;
    height: 100%;

    .mat-card-content {
      > mat-label {
        margin: 2rem auto 4.2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 3.6rem;
          font-weight: bold;
        }
      }

      .text-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .title {
          font-size: 3.4rem;
          font-weight: bold;
          line-height: 3.4rem;
        }

        .description {
          margin-top: 2rem;
          font-size: 1.8rem;
          text-align: center;
        }
      }

      .mat-form-field {
        margin-top: 2.4rem;
      }
    }

    .mat-card-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 3.4rem 0 0 0;

      > button {
        background-color: var(--color-button-success);
        color: #fff;
        width: 100%;
        height: 5.5rem;
        border-radius: 0.8rem;
        text-decoration: none;
        outline: none;
        font-size: 2.2rem;
        margin: 0;

        &:hover {
          background-color: var(--color-button-success-dark);
        }
      }
    }
  }

  @media (min-width: 700px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 12rem);

    .mat-card {
      width: 50rem;
      height: 37rem;

      .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
