.cart-item {
  .product-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    img {
      width: 10rem;
      height: 12rem;
    }

    .description {
      max-height: 90%;
      margin-left: 2rem;
      font-size: 1.8rem;
    }
  }

  .quantity-values {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;

    .product-quantity {
      display: flex;
      flex-direction: column;

      .quantity {
        display: flex;
        align-items: center;
  
        button {
          height: 2.2rem;
          width: 2.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
  
          .mat-icon {
            transform: scale(.7);
          }
        }
  
        input {
          margin: 0 .5rem;
          width: 3.4rem;
          height: 3rem;
          text-align: center;
          border: 1px solid #CCC;
          outline: none;
  
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          -moz-appearance: textfield;
        }
      }
    } 

    .unit-value {
      display: none;
      font-size: 1.8rem;
    }
  }

    .total-value {
      font-size: 1.8rem;
    }
  

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1.35fr 1fr;

    .product-info {
      .description {
        max-width: 70%;
      }
    }


    .quantity-values {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0;
      align-self: flex-start;

      .product-quantity {
        justify-self: flex-start;
      }

      .unit-value {
        display: initial;
        align-self: flex-start;
        margin-top: .6rem;
      }

      .total-value {
        align-self: flex-start;
        margin-top: .6rem;
      }
    }
  }

}
