.mat-toolbar {
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    strong {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}