<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/">Gama Sports</a>
      <div class="search">
        <input type="text" placeholder="Pesquisar" [(ngModel)]="search" (keyup)="onPressKey($event)" />
        <button mat-icon-button color="primary" (click)="searchProducts()">
          <mat-icon color="primary">search</mat-icon>
        </button>
      </div>

      <div class="actions">
        <a *ngIf="!isUserLogged()" class="sigin" mat-button routerLink="/users/login">
          <mat-icon>account_circle</mat-icon>
          <span>Entrar</span>
        </a>
        <button *ngIf="isUserLogged()" class="user" mat-button [matMenuTriggerFor]="userMenu">
          <span>{{ getUserName() }}</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu>
          <button mat-menu-item (click)="logout()">
            <span>Sair</span>
          </button>
        </mat-menu>
        <button mat-icon-button class="cart" routerLink="/cart">
          <mat-icon [matBadge]="getTotal()" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>