:root {
  font-size: 60%;

  --color-background: #f0f0f7;
  --color-button: #04d361;
  --color-button-dark: #04bf58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
