@import "../../../../../assets/styles/mat-form-field-style.scss";

#register-container {
  height: 100%;
  width: 100%;

  .mat-card {
    padding: 3.6rem 3rem;
    height: 100%;

    .mat-card-content  {

      > mat-label {
        margin: 2rem auto 4.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.2rem;
        font-weight: bold;
      }

      .gender {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;

        label {
          font-size: 1.8rem;
          margin-bottom: 1.2rem;
          color: rgba(0,0,0,.6);
        }

        .mat-radio-button {
          font-size: 1.6rem;

          + .mat-radio-button {
            margin-left: 1.2rem;
          }
        }

        .mat-error {
          font-size: 1.6rem;
          margin-top: .7rem;
          margin-bottom: 0;
        }
      }
    }

    .mat-card-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 4rem 0 0 0;

      > button {
        background-color: #00a54a;
        color: #fff;
        width: 100%;
        height: 6rem;
        border-radius: 0.8rem;
        text-decoration: none;
        outline: none;
        font-size: 2.2rem;

        &:hover {
          background-color: #018d40;
        }
      }

      .register {
        margin-top: 1rem;
        font-size: 1.6rem;

        .mat-button {
          font-size: 1.6rem;
        }
      }
    }
  }

  @media (min-width: 700px) {
    display: flex;
    align-items: center;
    justify-content: center;

    height: initial;

    .mat-card {
      width: 65rem;
      margin: 4rem 0;
    }
  }
}
